{% extends "layouts/dashboard_base.html" %}

{% block title %} Upload New File {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<!-- Consider adding any specific stylesheets here if required -->
{% endblock stylesheets %}

{% block content %}
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                    <!-- FLASH MESSAGE SECTION-->
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="flashes">
                                {% for message in messages %}
                                    <div class="alert alert-info">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                        <!-- Upload Section -->
                        <h3>Upload New File:</h3>
                        <p>The ED Daily randomizer system uses data abstracted from a report called <i>Daily Roster by Shift</i>
                        If you have not done so already, please download a report for the date you wish to randomize from 
                        <!-- rel="noopener noreferrer prevents tabnabbing, probably not needed but better safe than sorry -->
                        <a href="https://api-web.hs.uci.edu/LaborWorkx/Login.aspx" target="_blank" rel="noopener noreferrer">
                        API LaborWorks Portal</a>.
                        <br><br>
                        <b>Please ensure that the report exported from API LaborWorks Portal is formated as an XML file.</b>
                        </p> 
                        <form action="{{ url_for('schedule.upload') }}" method="POST" enctype="multipart/form-data">
                            <input type="file" name="file" accept=".xml">
                            <input type="submit" class="btn btn-primary" value="Upload">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        </form>
                        
                        <!-- Previous Uploads Section -->
                        <h3>Previous Uploads:</h3>
                        <p>Below are the last 10 file uploads in the system:</p>
                        <!-- List previous uploads. Assuming you'll pass a list of previous uploads to the template. -->
                        <ul>
                        {#% for upload in previous_uploads %#}
                            <li>
                                Uploaded on: {#{ upload.date }#} - 
                                <a href="{#{ url_for('results_view', upload_id=upload.id) }#}">View Results</a>
                            </li>
                        {#% endfor %#}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Consider adding any specific JS scripts here if required -->
{% endblock javascripts %}
