body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.header {
    background-color: #f5f5f5;
}

/* Example color coding */
.micn {
    background-color: #FF9999;
}

.triage-rn {
    background-color: #99CCFF;
}

.block {
    position: relative;
    margin-bottom: 0px; /* Adds spacing between blocks; adjust as needed */
}

.location-label {
    writing-mode: vertical-rl; 
    transform: rotate(180deg);
    white-space: nowrap;
    width:40px;
    padding: 0;
    text-align: center;
    background-color: #ebebeb; /* default is grey but we change this dynamicaly from the db settings */
}

.schedule-body {
    display: flex;
    justify-content: space-between;  /* Optionally space out the tables */
}



.block table {
    margin-left: 30px; /* Provides space for the rotated label; adjust as needed */
}

/* Add more styles and classes as needed */
