{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% extends "layouts/base-fullscreen.html" %}

{% block title %} Sign IN  {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <section class="min-vh-100 d-flex align-items-center bg-soft">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="signin-inner mt-3 mt-lg-0 bg-white shadow border rounded border-light w-100">
                        <div class="row gx-0 align-items-center justify-content-between">
                            <div class="col-12 col-lg-5 d-none d-lg-block rounded-left bg-secondary">
                                <img src="/static/assets/img/illustrations/login.svg" alt="login image">
                            </div>
                            <div class="col-12 col-lg-7 px-3 py-5 px-sm-5 px-md-6">
                                <div class="text-center text-md-center mb-4 mt-md-0">
                                    <h1 class="mb-0 h3">
                                        <a href="https://appseed.us/jinja-template?ref=demo" target="_blank">UCI Health<br></a> ED Dashboard - Login</h1>
                                </div>
                                <form action="{{ url_for('auth.login') }}" method="post">
                                    {{ form.hidden_tag() }}
                                    
                                    <!-- Email Field -->
                                    <div class="form-group mb-4">
                                        <label for="exampleInputEmailCard1">Email</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1"><span class="fas fa-envelope"></span></span>
                                            {{ form.email(class="form-control", placeholder="panteater@hs.uci.edu", id="exampleInputEmailCard1") }}
                                        </div>  
                                    </div>
                                    
                                    <!-- Password Field -->
                                    <div class="form-group mb-4">
                                        <label for="exampleInputPasswordCard1">Password</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2"><span class="fas fa-unlock-alt"></span></span>
                                            {{ form.password(class="form-control", placeholder="Password", id="exampleInputPasswordCard1") }}
                                        </div>  
                                    </div>
                                    
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </form>
                                <div class="d-flex justify-content-center align-items-center mt-4">
                                    <span class="font-weight-normal">
                                        Don't Have an Account?
                                        <a href="{{ url_for('auth.register') }}" class="font-weight-bold"><br>Crete a New Account</a>
                                    </span>
                                    <span class="font-weight-normal">
                                        Forgot Password?
                                        <a href="{{ url_for('auth.register') }}" class="font-weight-bold"><br>Recover Password</a>
                                    </span>
                                </div>
                                <div class="d-flex justify-content-center align-items-center mt-4">
                                    <p>
                                        <a target="_blank" href="https://themesberg.com/?ref=appseed">Have Questions?</a> 
                                        <br>Reach Out for Direct Support: <a target="_blank" href="mailto:luis.gonzalez@uci.edu?subject=ED%20Digital%20Dashboard">luis.gonzalez@uci.edu</a>.
                                    </p>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
