{% extends "layouts/base-fullscreen.html" %}

{% block title %} Sign UP  {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    #passwordWarning {
        display: none;
    }
</style>
{% endblock stylesheets %}

{% block content %}

    <section class="min-vh-100 d-flex align-items-center bg-soft">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="signin-inner mt-3 mt-lg-0 bg-white shadow border rounded border-light w-100">
                        <div class="row gx-0 align-items-center justify-content-between">
                            <div class="col-12 col-lg-5 d-none d-lg-block rounded-left bg-secondary">
                                <img src="/static/assets/img/illustrations/login.svg" alt="login image">
                            </div>
                            <div class="col-12 col-lg-7 px-3 py-5 px-sm-5 px-md-6">
                                <div class="text-center text-md-center mb-4 mt-md-0">
                                    <h1 class="mb-0 h3">
                                        <a href="https://appseed.us/jinja-template?ref=demo" target="_blank">UCI Health<br></a> ED Dashboard - Register</h1>
                                </div>
                                <form action="{{ url_for('auth.register') }}" method="post">
                                    {{ form.hidden_tag() }}
                                    <div class="form-group mb-4">
                                        <label for="email">Your UCI Email</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><span class="fas fa-envelope"></span></span>
                                            {{ form.email(class="form-control", placeholder="panteater@hs.uci.edu") }}
                                        </div>  
                                    </div>
                                    
                                    <div class="form-group mb-4">
                                        <label for="password">Your Password</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><span class="fas fa-unlock-alt"></span></span>
                                            {{ form.password(id="passwordInput", class="form-control", placeholder="Password") }}
                                        </div> 
                                    
                                        <!-- Insert the warning here with the added ID -->
                                        <div id="passwordWarning" class="alert alert-warning mt-2" role="alert">
                                            <strong>Important:</strong> For security reasons, please use a unique password not associated with your work email or any other accounts. This application is not yet integrated with our enterprise SSO.
                                        </div> 
                                    </div>

                                    <div class="form-group mb-4">
                                        <label for="confirm_password">Confirm Password</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><span class="fas fa-unlock-alt"></span></span>
                                            {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
                                        </div>  
                                    </div>
                                        
                                    
                                    <button type="submit" class="btn btn-block btn-primary">Register</button>

                                </form>
                                <div class="d-flex justify-content-center align-items-center mt-4">
                                    <span class="font-weight-normal">
                                        Have an account?
                                        <a href="{{ url_for('auth.login') }}"><strong>Login</strong></a>
                                    </span>
                                </div>
                                <div class="d-flex justify-content-center align-items-center mt-4">
                                    <p>
                                        The Regents of the University of California &copy2023. All rights reserved.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    document.querySelector('#passwordInput').addEventListener('focus', function() {
        document.querySelector('#passwordWarning').style.display = 'block';
    });

    document.querySelector('#passwordInput').addEventListener('blur', function() {
        document.querySelector('#passwordWarning').style.display = 'none';
    });
</script>
{% endblock javascripts %}
